@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: 'Open Sans', sans-serif
}

:root {
  --red-500: #f44336;
  --pink-500: #e91e63;
  --purple-500: #9c27b0;
  --deep-purple-500: #673ab7;
  --indigo-500: #3f51b5;
  --blue-500: #2196f3;
  --light-blue-500: #03a9f4;
  --cyan-500: #00bcd4;
  --teal-500: #009688;
  --green-500: #4caf50;
  --light-green-500: #8bc34a;
  --lime-500: #cddc39;
  --yellow-500: #ffeb3b;
  --amber-500: #ffc107;
  --orange-500: #ff9800;
  --deep-orange-500: #ff5722;
  --brown-500: #795548;
  --grey-500: #9e9e9e;
  --blue-grey-500: #607d8b;
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0
  }
}

button {
  background: var(--blue-500);
  color: gray;
  margin: .3rem;
  border: none;
  border-radius: .2rem;
  font-size: 0.9rem;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  text-transform: uppercase;
  transition: opacity 0.7s;
}

button .ripple {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(192, 192, 192, .3);
  position: absolute;
  transform: scale(0);
  animation: ripple .6s linear
}

button.raised {
  box-shadow: 0rem .1rem .3rem rgba(0, 0, 0, .3);
}

/*COLORS*/
button.light {
  background-color: white;
  color: green;
}

button.dark {
  background-color: black;
  color: white;
}

button.red {
  background-color: var(--red-500);
  color: white;
}

button.pink {
  background-color: var(--pink-500);
  color: white;
}

button.purple {
  background-color: var(--purple-500);
  color: white;
}

button.deep-purple {
  background-color: var(--deep-purple-500);
  color: white;
}

button.green-gradient {
  background-color: #07cb77;
  background-image: linear-gradient(to bottom, #07cb77, #0c8b6d 130%);
  color: white;
}
